td{
    padding: .5em;
    margin: .2em;
    border-radius: 5px;
}

#dias{
    background-color: #fa8072;
}

#horas{
    background-color:#cd853f;
}

#recreo{
    background-color: #1e90ff;
}

#iso{
    background-color:#778899;
}

#marcas{
    background-color: #ff6347;
}

#fol{
    background-color: #7fffd4;
}

#redes{
    background-color:#3cb371 ;
}

#fundamentos{
    background-color: #ff7f50;
}

#bd{
    background-color: #ff69b4;
}